<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/images/mini-logo.png" type="image/x-icon">
  <title>BestDealPharma.com - Your one-stop online pharmacy</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149364530-1"></script>
  <script type="text/javascript">
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-149364530-1');

  </script>
  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '467570967435630');
    //fbq('track', 'PageView');
  </script>
  <!-- End Facebook Pixel Code -->

<script type="application/ld+json">
  {
  "@@context": "http://schema.org",
  "@@type": "Organization",
  "brand": "BestDealPharma",
  "url": "https://www.bestdealpharma.com",
    "logo": "https://bestdealpharma.com/images/logo.png",
  "address": {
  "@@type": "PostalAddress",
      "addressLocality": "Istanbul, Turkey",
      "postalCode": "34394",
      "streetAddress": "Levent, Büyükdere Cd. No:185 Şişli-İstanbul"
      },
      "contactPoint" : [
      { "@@type" : "ContactPoint",
      "telephone" : "+90 212 212 00 00",
      "contactType" : "customer support"
      } ],
      "telephone": "+90 212 212 00 00",
      "faxNumber": "+90 212 212 00 00",
      "name": "BestDealPharma",
      "sameAs" : [ "https://www.facebook.com/bestdealpharma",
      "https://www.instagram.com/bestdealpharma/",
      "https://twitter.com/bestdealpharma"
      ]
  }
</script>

</head>

<body>
  @RenderBody()

  <script src="~/dist/vendor.js" asp-append-version="true"></script>
  @RenderSection("scripts", required: false)


</body>
</html>

