
<h2>Success!</h2>
<h4>Your email is confirmed now. Please wait to be redirected to the <a href="/login"> login form.</a></h4>

<script>
  setTimeout(() => {
    location.href = '/login';
  }, 3000);
</script>
