<template>
  <v-flex>
  <link rel="canonical" href="https://bestdealpharma.com/#about-us" />
    <section>
      <v-parallax src="/images/sections/how-to-order.jpg" height="300">
        <v-layout column
                  align-center
                  justify-center
                  class="blue--text">
          <img src="/images/mini-logo.png" alt="Best Deal Pharma Online Pharmacy" height="81">
          <h1 class="blue--text text--darken-4 mb-2 display-1 text-xs-center">About Us</h1>
          <div class="blue--text text--darken-4 subheading mb-3 text-xs-center">Economical, Safety, Easy</div>
        </v-layout>
      </v-parallax>
    </section>

    <section>
      <v-card class="elevation-0">
        <v-container
          fluid
          grid-list-md
        >
          <v-layout row wrap>
            <v-flex class="offset-sm3 xs6">
              <p>
                <b>BestDealPharma</b> is a website created to send you the most reliable prescriptions at the cheapest
                possible price from
                countries like India, Turkey, England, Canada, South Africa, and New Zealand. Narcotics or other habit
                forming
                medications will not be sent.</p>
              <p>
                <b>BestDealPharma</b> is not a licensed pharmacy; it is a prescription referral service. As a
                prescription referral
                service, we are able to refer you to our affiliated pharmacies and/or government approved dispensing
                facilities to
                ensure that you receive the highest quality product at the best possible price.
              </p>
              <p>
                <b>BestDealPharma</b> has been created to network with countries such as India, Turkey, United Kingdom,
                Australia, and New
                Zealand to ensure you receive your prescriptions at the best possible price and fastest possible time.
              </p>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
      <v-divider></v-divider>
    </section>
  </v-flex>
</template>
<script>
  export default {}
</script>
