<template>
  <v-flex>
    <link rel="canonical" href="https://bestdealpharma.com/register" />
    <section>
      <v-parallax src="/images/sections/register.jpg" height="300">
        <v-layout column align-center justify-center class="blue--text">
          <v-icon x-large class="deep-orange--text">person_add</v-icon>
          <h1
            class="blue--text text--darken-4 mb-2 display-1 text-xs-center"
          >New Customer Registration</h1>
          <div class="blue--text text--darken-4 subheading mb-3 text-xs-center deep-orange--text">
            BestDealPharma.com is
            your life insurance
          </div>
        </v-layout>
      </v-parallax>
    </section>
    <section>
      <v-container fluid grid-list-md>
        <v-layout row wrap>
          <v-flex xs12>
            <v-card class="elevation-1">
              <v-card-text>
                <div class="layout column align-center">
                  <v-icon large class="deep-orange--text">person_add</v-icon>
                  <h1 class="flex my-4 primary--text">Almost Done!</h1>
                  <h3>Welcome to BestDealPharma.com</h3>
                  <h5>We sent you a confirmation email. Please check your inbox!</h5>
                  <br />
                  <v-btn color="accent" class="white--text" to="/login">Login</v-btn>
                </div>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </section>
  </v-flex>
</template>
