<template>
  <v-flex v-if="product">
    <link rel="canonical" href="https://bestdealpharma.com/new-order" />
    <link
      rel="canonical"
      :href="'https://bestdealpharma.com/product-search/' + item"
      v-for="(item, index) in alphabet"
      :key="index"
    />
    <section>
      <v-parallax src="/images/sections/how-to-order.jpg" height="300">
        <v-layout column align-center justify-center class="blue--text">
          <img src="/images/mini-logo.png" alt="Best Deal Pharma Online Pharmacy" height="81" />
          <h1
            class="blue--text text--darken-4 mb-2 display-1 text-xs-center"
          >{{ this.product.title }}</h1>
        </v-layout>
      </v-parallax>
    </section>

    <section>
      <v-card class="elevation-0">
        <v-container fluid grid-list-md>
          <v-layout row wrap>
            <v-flex class="xs8 sm10 md4">
              <v-text-field
                hide-details
                prepend-icon="search"
                v-model="searchCriteria.keyword"
                @keyup.native.enter="onSearch"
                label="Search for your medications"
              ></v-text-field>
            </v-flex>
            <v-flex class="xs2 sm2 md2">
              <v-btn class="primary" flat @click="onSearch">SEARCH</v-btn>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex class="xs12 sm12 md6">
              <v-chip
                small
                icon
                v-for="(item, index) in alphabet"
                :key="index"
                @click="onSearchByLetter(item)"
              >{{ item }}</v-chip>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
      <v-divider></v-divider>
    </section>

    <v-layout row wrap v-if="searchResult.length > 0">
      <v-flex xs12>
        <v-card class="pt-2">
          <v-flex xs12>
            <v-avatar class="warning ml-2" title="Generic">G</v-avatar>&nbsp;Generic
            <v-dialog v-model="showWhatIsGeneric" width="500">
              <a href="javascript:void()" slot="activator">
                <small>What is Generic?</small>
              </a>
              <v-card>
                <v-card-title class="headline grey lighten-2" primary-title>WHAT IS A GENERIC DRUG?</v-card-title>

                <v-card-text>
                  <p>
                    A generic drug is a copy of the brand-name drug with the
                    same dosage, safety, strength, quality, consumption method,
                    performance, and intended use. Before generics become
                    available on the market, the generic company must prove it
                    has the same active ingredients as the brand-name drug and
                    works in the same way and in the same amount of time in the
                    body.
                  </p>
                  <p>
                    The only differences between generics and their brand-name
                    counterparts is that generics are less expensive and may
                    look slightly different (eg. different shape or color), as
                    trademarks laws prevent a generic from looking exactly like
                    the brand-name drug.
                  </p>
                  <p>
                    Generics are less expensive because generic manufacturers
                    don't have to invest large sums of money to develop a drug.
                    When the brand-name patent expires, generic companies can
                    manufacture a copy of the brand-name and sell it at a
                    substantial discount.
                  </p>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" flat @click="showWhatIsGeneric = false">Close</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>

            <v-avatar class="info ml-2" title="Brand">
              <span class="text--primary text--darken-4">B</span>
            </v-avatar>&nbsp;Brand
          </v-flex>
          <v-list three-line>
            <v-list-tile avatar>
              <v-list-tile-avatar>
                <v-avatar v-if="product.isGeneric" class="warning" title="Generic">G</v-avatar>
                <v-avatar v-else class="info" title="Brand">
                  <span class="text--primary text--darken-4">B</span>
                </v-avatar>
              </v-list-tile-avatar>

              <v-list-tile-content>
                <v-list-tile-title>{{ product.title }}</v-list-tile-title>
                <v-list-tile-sub-title>
                  Strength: {{ product.strength }} Quantity:{{
                  product.quantity
                  }}
                </v-list-tile-sub-title>
                <v-list-tile-sub-title class="text--primary">
                  <h4>Price: {{ product.price | currency }}</h4>
                </v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-layout row>
                  <v-flex xs4>
                    <v-text-field
                      label="Amount"
                      value="1"
                      :ref="'amount-' + product.id"
                      mask="##"
                      class
                      validate-on-blur
                      required
                      :rules="[v => !!v || 'Amount is required']"
                    ></v-text-field>
                  </v-flex>
                  <v-flex mt-3 text-xs-right>
                    <v-btn
                      icon
                      large
                      class="accent"
                      title="Add To Cart"
                      @click="addToShoppingCart(product)"
                    >
                      <v-icon>add_shopping_cart</v-icon>
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-list-tile-action>
            </v-list-tile>

            <v-list-tile avatar>
              <v-list-tile-content class="pa-5">
                <div class="ml-2 mr-5" v-html="product.htmlContent"></div>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
          <!--BEGIN Feedbacks-->
          <v-layout row wrap>
            <v-flex xs12>
              <v-alert color="primary" icon="info" :value="true">
                <v-layout row wrap>
                  <v-flex xs10>
                    <h1>Feedbacks</h1>
                  </v-flex>
                  <v-flex xs2 text-xs-right v-if="avgStar">
                    <v-icon color="white" v-for="star in avgStar" :key="star">star</v-icon>
                  </v-flex>
                </v-layout>
              </v-alert>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-spacer></v-spacer>
            <v-flex xs2 class="text-xs-right" v-if="isAdmin">
              <v-select
                :items="[null,false,true]"
                v-model="approvedFeedbackFilter"
                item-value="-1"
                label="Approval Status"
              >
                <template v-slot:item="data">
                  <template v-if="data.item===null">
                    <v-icon color="yellow darken-3">remove</v-icon>All
                  </template>
                  <template v-if="data.item===false">
                    <v-icon color="yellow darken-3">clear</v-icon>Unapproved
                  </template>
                  <template v-if="data.item===true">
                    <v-icon color="yellow darken-3">check</v-icon>Approved
                  </template>
                </template>
                <template v-slot:selection="{item}">
                  <template v-if="item===null">
                    <v-icon color="yellow darken-3">remove</v-icon>All
                  </template>
                  <template v-if="item===false">
                    <v-icon color="yellow darken-3">clear</v-icon>Unapproved
                  </template>
                  <template v-if="item===true">
                    <v-icon color="yellow darken-3">check</v-icon>Approved
                  </template>
                </template>
              </v-select>
            </v-flex>
            <v-flex xs12 pa-2 v-for="item in filteredFeedbacks" :key="item.id">
              <v-layout row wrap>
                <v-flex xs8>
                  <b>{{ item.title }}</b>
                  &mdash;
                  {{ item.name }}
                </v-flex>
                <v-flex xs4 text-xs-right>
                  <v-icon color="yellow darken-3" v-for="star in item.stars" :key="star">star</v-icon>
                  <v-btn flat icon color="primary" v-if="isAdmin" @click="deleteFeedback(item.id)">
                    <v-icon>delete</v-icon>
                  </v-btn>
                  <v-btn
                    flat
                    icon
                    color="primary"
                    v-if="isAdmin && !item.approved"
                    @click="approveFeedback(item)"
                  >
                    <v-icon>check</v-icon>
                  </v-btn>
                </v-flex>
                <v-flex xs12 class="text--primary">{{ item.message }}</v-flex>
              </v-layout>
              <v-divider>&nbsp;</v-divider>
              <br />
            </v-flex>
          </v-layout>
          <v-layout row wrap justify-center v-if="isAuthenticated">
            <v-flex xs8>
              <v-form lazy-validation ref="feedbackForm">
                <v-text-field
                  v-if="isAdmin"
                  label="Name"
                  type="text"
                  v-model="feedbackModel.name"
                  :rules="feedbackFormRules.title"
                ></v-text-field>
                <v-text-field
                  label="Title"
                  type="text"
                  v-model="feedbackModel.title"
                  :rules="feedbackFormRules.title"
                ></v-text-field>
                <v-textarea
                  label="Message"
                  v-model="feedbackModel.message"
                  :rules="feedbackFormRules.message"
                ></v-textarea>
                <v-select
                  label="Stars"
                  v-model="feedbackModel.stars"
                  :rules="feedbackFormRules.stars"
                  :items="[1,2,3,4,5]"
                >
                  <template v-slot:item="data">
                    <v-icon color="yellow darken-3" v-for="star in data.item" :key="star">star</v-icon>
                  </template>
                  <template v-slot:selection="{item}">
                    <v-icon color="yellow darken-3" v-for="star in item" :key="star">star</v-icon>
                  </template>
                </v-select>
                <v-btn color="primary" @click="sendFeedback">Send Feedback</v-btn>
              </v-form>
              <v-alert
                type="success"
                dismissible
                v-model="feedbackSent"
                transition="scale-transition"
              >Your message has been sent. Thank you for your feedback.</v-alert>
            </v-flex>
          </v-layout>
          <!--END Feedbacks-->

          <!-- RELATED PRODUCTS Begin -->
          <v-layout row wrap>
            <v-flex xs12>
              <v-alert color="primary" icon="info" :value="true">
                <h1>Related Products</h1>
              </v-alert>
            </v-flex>
          </v-layout>
          <v-list three-line>
            <template v-for="item in searchResult">
              <v-list-tile :key="item.id" avatar>
                <v-list-tile-avatar>
                  <v-avatar v-if="item.isGeneric" class="warning" title="Generic">G</v-avatar>
                  <v-avatar v-else class="info" title="Brand">
                    <span class="text--primary text--darken-4">B</span>
                  </v-avatar>
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-action>
                    <v-btn
                      flat
                      color="primary"
                      :href="`/product/${item.id}/${encodeURIComponent(item.title)}`"
                    >{{ item.title }}</v-btn>

                    <v-list-tile-sub-title>
                      Strength: {{ item.strength }} Quantity:{{
                      item.quantity
                      }}
                    </v-list-tile-sub-title>
                    <v-list-tile-sub-title class="text--primary">
                      <h4>Price: {{ item.price | currency }}</h4>
                    </v-list-tile-sub-title>
                  </v-list-tile-action>
                </v-list-tile-content>
                <v-list-tile-action>
                  <v-layout row>
                    <v-flex xs4>
                      <v-text-field
                        label="Amount"
                        value="1"
                        :ref="'amount-' + item.id"
                        mask="##"
                        class
                        validate-on-blur
                        required
                        :rules="[v => !!v || 'Amount is required']"
                      ></v-text-field>
                    </v-flex>
                    <v-flex mt-3 text-xs-right>
                      <v-btn
                        icon
                        large
                        class="accent"
                        title="Add To Cart"
                        @click="addToShoppingCart(item)"
                      >
                        <v-icon>add_shopping_cart</v-icon>
                      </v-btn>
                    </v-flex>
                  </v-layout>
                </v-list-tile-action>
              </v-list-tile>
              <v-divider inset></v-divider>
            </template>
          </v-list>
          <!-- RELATED PRODUCTS Begin -->
        </v-card>
      </v-flex>
    </v-layout>
  </v-flex>
</template>

<script>
import { mapState, mapGetters } from "vuex";

export default {
  data: () => ({
    showWhatIsGeneric: false,
    product: null,
    feedbacks: [],
    feedbackLoading: false,
    feedbackSent: false,
    feedbackModel: {
      id: 0,
      title: null,
      message: null,
      stars: null,
      productId: null,
      name: null,
      email: null,
      approved: false
    },
    feedbackFormRules: {
      title: [
        v => !!v || "Title is required",
        v => (v && v.length >= 5) || "Title must be more than 5 characters"
      ],
      message: [
        v => !!v || "Message is required",
        v =>
          (v && v.length >= 100) || "Message must be more than 100 characters"
      ],
      stars: [v => !!v || "Please select star"]
    },
    approvedFeedbackFilter: null,
    filteredFeedbacks: []
  }),
  props: {
    id: {
      required: true
    },
    title: {
      required: false
    }
  },
  methods: {
    onSearch: function() {
      window.getApp.$emit("APP_SEARCH_DRUG", this.searchCriteria.keyword);
    },
    onSearchByLetter: letter => {
      window.getApp.$emit("APP_SEARCH_DRUG", letter);
    },
    addToShoppingCart: function(product) {
      let amount = this.$refs["amount-" + product.id][0].lazyValue;
      window.getApp.$emit("APP_ADD_TO_CART", {
        product: product,
        amount: amount
      });
    },
    sendFeedback: function() {
      if (this.$refs.feedbackForm.validate()) {
        this.feedbackModel.productId = this.id;
        if (!this.isAdmin) {
          const _names = this.getAuthenticatedUserName.split(" ");
          let _name = "";
          _names.forEach(n => {
            _name += n[0] + "*".repeat(n.length);
          });
          this.feedbackModel.name = _name;
        } else {
          this.feedbackModel.approved = true;
        }

        this.feedbackModel.email = this.authenticatedUser.user.email;
        window
          .axios({
            method: "post",
            url: "/api/feedbacks",
            data: this.feedbackModel
          })
          .then(response => {
            this.$toastr(
              "success",
              "Your message has been sent. It will show on site when our moderator has approved. Thank you for your feedback."
            );
            this.feedbackSent = true;
            this.feedbackModel = {
              id: 0,
              title: null,
              message: null,
              stars: null,
              productId: null,
              name: null,
              email: null,
              approved: false
            };
            this.$refs.feedbackForm.resetValidation();
            if (this.isAdmin) {
              this.feedbacks.push(response.data);
              this.filteredFeedbacks = this.feedbacks.filter(
                x =>
                  x.approved === this.approvedFeedbackFilter ||
                  this.approvedFeedbackFilter === null
              );
            }
          });
      }
    },
    deleteFeedback: function(id) {
      this.$confirm("Do you really want to delete this feedback?", {
        title: "Delete Feedback"
      }).then(res => {
        if (res) {
          window
            .axios({
              method: "delete",
              url: "/api/feedbacks/" + id
            })
            .then(response => {
              this.$toastr("success", "Selected feedback was deleted.");
              _.remove(this.feedbacks, x => x.id === id);
              this.filteredFeedbacks = this.feedbacks.filter(
                x =>
                  x.approved === this.approvedFeedbackFilter ||
                  this.approvedFeedbackFilter === null
              );
            });
        }
      });
    },
    approveFeedback: function(feedback) {
      feedback.approved = true;
      window
        .axios({
          method: "put",
          url: "/api/feedbacks/" + feedback.id,
          data: feedback
        })
        .then(response => {
          this.$toastr("success", "Selected feedback was approved.");
          this.filteredFeedbacks = this.feedbacks.filter(
            x =>
              x.approved === this.approvedFeedbackFilter ||
              this.approvedFeedbackFilter === null
          );
        });
    }
  },
  computed: {
    alphabet: () => window.getApp.alphabet,
    ...mapGetters("user", [
      "getAuthenticatedUserName",
      "isAuthenticated",
      "authenticatedUser",
      "isAdmin"
    ]),
    ...mapState({
      searchResult: state => state.products.searchResult,
      searchCriteria: state => state.products.searchCriteria,
      avgStar() {
        if (!this.feedbacks || this.feedbacks.length === 0) {
          return null;
        }
        return Math.round(this.$_.meanBy(this.feedbacks, f => f.stars));
      }
    })
  },
  created() {
    const _this = this;
    if (this.id) {
      this.$store
        .dispatch("products/findById", this.id)
        .then(response => {
          _this.product = response.data;
        })
        .then(() => {
          window.axios
            .get("/api/feedbacks", {
              params: {
                pid: _this.id
              }
            })
            .then(response => {
              _this.feedbacks = response.data;
              _this.filteredFeedbacks = response.data;
            });
        });

      this.$store.dispatch("products/find", {
        keyword: this.title.split(" ")[0],
        byLetter: false
      });
    }
  },
  watch: {
    pSearchText: function(value) {
      if (value) {
        this.$store.dispatch("products/find", {
          keyword: value,
          byLetter: value.length < 4
        });
      }
    },
    approvedFeedbackFilter: function(value) {
      this.filteredFeedbacks = this.feedbacks.filter(
        x => x.approved === value || value === null
      );
    }
  }
};
</script>
