<template>
  <v-flex>
    <link rel="canonical" href="https://bestdealpharma.com/faq" />
    <section>
      <v-parallax src="/images/sections/faq.jpg" height="300">
        <v-layout column
                  align-center
                  justify-center
                  class="blue--text">
          <img src="/images/mini-logo.png" alt="Best Deal Pharma Online Pharmacy" height="81">
          <h1 class="blue--text text--darken-4 mb-2 display-1 text-xs-center">Frequently Asked Questions</h1>
          <div class="blue--text text--darken-4 subheading mb-3 text-xs-center">Economical, Safety, Easy</div>
        </v-layout>
      </v-parallax>
    </section>

    <section>
      <v-card class="elevation-0">
        <v-container fluid
                     grid-list-md>
          <v-layout row wrap>
            <v-flex class="xs12">
              <p class="title deep-orange--text">
                Why are prices on drugs so much lower than prices in the United
                States?
              </p>
              <p>
                There are a number of reasons:
                <br>
                1. Prescription drug prices are lower in Canada and other some countries because the government limits
                the amount pharmaceutical manufacturers can charge for brand name drugs.
                <br>
                2. Drug companies selling into other countries are not allowed to advertise their products.
                <br>
                3. In other countries , generics become available 5 years earlier than in the United States and must be
                at least 30% less than name brands.
              </p>
              <v-divider></v-divider><br>

              <p class="title deep-orange--text">
                Do I need a prescription to order from BestDealPharma affiliated pharmacies or government approved
                dispensing facilities?
              </p>
              <p>
                Yes, you need a valid prescription, written by a licensed American physician, for up to a 90-day supply
                of each medication (with up to three refills). In fact, we would advise that any websites that offer to
                fill your order without a valid prescription should not be trusted.
              </p>
              <v-divider></v-divider><br>

              <p class="title deep-orange--text">
                Can anyone in the United States use BestDealPharma.com?
              </p>
              <p>
                Yes, anyone with a credit card, a phone (or fax) and a valid prescription can benefit from our service
                and the low prices offered by our affiliated pharmacies and government approved dispensing facilities.
              </p>
              <v-divider></v-divider><br>

              <p class="title deep-orange--text">
                Do your affiliated pharmacies and/or government approved dispensing facilities fill prescriptions from
                U.S. doctors?
              </p>
              <p>
                Upon receipt of your American prescription and requested information, arrangements will be made to have
                a Canadian doctor review your information in order to issue a prescription that can be filled in in
                other countries , if necessary.
              </p>
              <v-divider></v-divider><br>

              <p class="title deep-orange--text">
                Is it safe to buy prescription medications from outside the United States?
              </p>
              <p>
                For years, Americans have been crossing the border into Canada to have their prescriptions filled by
                professional and knowledgeable pharmacists. We are committed to bringing these services right to your
                door without the need of travelling outside the United States.
              </p>
              <v-divider></v-divider><br>

              <p class="title deep-orange--text">
                How much is shipping?
              </p>
              <p>
                There is a flat fee per order (not per drug) of only $15.00 to anywhere in the United States with
                regular mail. If you want to receive your package with expedite service fee will be $75. This fee
                includes all packaging costs and preparation of U.S. customs forms, if necessary.. There are no other
                hidden or additional charges that you will be asked to pay during or after your order is processed. No
                additional amount will be deducted from your credit card from our end either.
                <br>
                The order, once processed successfully, will be sent via regular mail. If the order is destined outside
                of North America, it may take 4 to 6 weeks for delivery .Expedite service will deliver your drugs 7 to
                10 business days.

              </p>
              <v-divider></v-divider><br>

              <p class="title deep-orange--text">
                Are there any other charges beside the cost of the drugs and shipping?
              </p>
              <p>
                No, there are no other fees or hidden charges.
              </p>
              <v-divider></v-divider><br>

              <p class="title deep-orange--text">
                Why do some drugs have different names outside of the United States?
              </p>
              <p>
                The manufacturer of the drug registers the brand name. In Canada and other countries, some manufacturers
                may use a different name for the exact same (bioequivalent) drug. In some cases the drug may even look
                different (ie. it may be a different color or have different markings). Although it may appear
                different, it will have the same active ingredients. An example of this is the popular drug Prilosec,
                which in Canada is offered from the same manufacturer under the brand name Losec.
              </p>
              <v-divider></v-divider><br>

              <p class="title deep-orange--text">
                What is the maximum quantity that I may order?
              </p>
              <p>
                The United States Food and Drug administration (FDA) limits the quantity of medication that may be
                imported by a resident of the United States to a 3-month supply for personal use. Every 3 months you may
                receive a refill of your medications provided that the prescription you provided allows for these
                refills. Once these refills have been filled for the allotted frequency, you will then have to send a
                new prescription.
              </p>
              <v-divider></v-divider><br>

              <p class="title deep-orange--text">
                Do you charge any sales tax?
              </p>
              <p>
                No sales tax is charged on drugs.
              </p>
              <v-divider></v-divider><br>

              <p class="title deep-orange--text">
                Can you transfer my prescription from my local pharmacy?
              </p>
              <p>
                No, currently we cannot take transfers from your United States based pharmacy. We require that YOU
                obtain your prescription and that you (or your doctor) fax or email it to us along with the completed
                Customer Order & Authorization Agreement.
              </p>
              <v-divider></v-divider><br>

              <p class="title deep-orange--text">
                Do your affiliated pharmacies or government approved dispensing facilities sell any narcotics such as
                Tylenol #3, Vicodin or similar medications?
              </p>
              <p>
                No. <b>Narcotics or other habit forming mediations are not available.</b> In fact, we would advise that
                any websites that offer these products for sale should not be trusted.
              </p>
              <v-divider></v-divider><br>

              <p class="title deep-orange--text">
                How long will it take to receive my order?
              </p>
              <p>
                You should receive your order within 21-28 days. But, in most cases your order will be received faster.
                Refills will also be received within a similar timeframe.
              </p>
              <v-divider></v-divider><br>

              <p class="title deep-orange--text">
                What are generic drugs? What is the difference between a brand name and generic drug?
              </p>
              <p>
                Generic drugs are drugs on which the original manufacturer has lost patent protection due to the passage
                of a certain amount of time. This time period is significantly shorter in Canada (and elsewhere) than in
                the United States. The generic drug has the exact same composition as the original brand, but it is
                simply made by a different drug manufacturer. These generic drugs provide the same therapeutic effect as
                the brand name drugs.
                <br><br>
                A generic drug is identical, or bioequivalent to a brand name drug in dosage form, safety, strength,
                route of administration, quality, performance characteristics and intended use. Although generic drugs
                are chemically identical to their branded counterparts, they are typically sold at substantial discounts
                compared to the branded drug prices.

              </p>
              <v-divider></v-divider><br>

              <p class="title deep-orange--text">
                Are generic drugs safe?
              </p>
              <p>
                Absolutely! The generics sold by our affiliated pharmacies and government approved dispensing facilities
                are just as safe and effective as United States generics or name brands. In Canada and elsewhere, all
                drugs are very closely monitored by the government regulator to insure safety and quality.
              </p>
              <v-divider></v-divider><br>

              <p class="title deep-orange--text">
                Do you affiliates carry brand name or generic drugs? Are they the same drugs I typically buy in the
                United States?
              </p>
              <p>
                Our licensed affiliated pharmacies and/or government approved dispensing facilities provide both brand
                name and generic drugs. Both are of the same quality (bioequivalent) to the drugs you now purchase from
                your local pharmacy.
              </p>
              <v-divider></v-divider><br>

              <p class="title deep-orange--text">
                Are the drugs offered by your affiliates the same quality as the drugs that I buy in the United States?
              </p>
              <p>
                Yes. There is no difference in quality between the drugs sold in the United States and the drugs sold by
                our affiliated pharmacies and government approved dispensing facilities (ie. they are bioequivalent).
                For example, the same companies make most medications purchased by United States and Canadian
                pharmacies. Very similar to the requirements in the United States, the Canadian government has extremely
                stringent requirements and high standards coupled with a rigorous approval system for the manufacturing
                of medication. Many of the drugs sold in Canada are precisely the same as those sold in the United
                States. It should be noted that although identical drugs may appear physically different (for example, a
                different color or shape), their therapeutic effects are identical.
              </p>
              <v-divider></v-divider><br>

              <p class="title deep-orange--text">
                Is it possible that the pills I receive look different than the pills I have obtained locally in the
                United States?
              </p>
              <p>
                Yes. In many instances, they may look identical. However, if they don't, there can be a few reasons for
                this; a different drug manufacturer; a different look or brand name prepared for a foreign market by the
                same manufacturer; or it may be generic and therefore manufactured by a different drug company. However,
                you can rest assured knowing they are of the same bioequivalence.
              </p>
              <v-divider></v-divider><br>

              <p class="title deep-orange--text">
                Is BestDealPharma.com a licensed pharmacy?
              </p>
              <p>
                No, <b class="deep-orange--text">BestDealPharma</b> is not a licensed pharmacy; it is a prescription
                referral service. As a prescription
                referral service, we are able to refer you to our affiliated pharmacies and/or government approved
                dispensing facilities to ensure that you receive high quality product at the best possible price.
              </p>
              <v-divider></v-divider><br>

              <p class="title deep-orange--text">
                Is the personal information provided with my order(s) safe?
              </p>
              <p>
                Yes! Your personal information is only viewed by those persons required to fill your order
                (<b class="deep-orange--text">BestDealPharma</b> staff or authorized representatives, a pharmacist, a
                pharmacy tech and a doctor). All
                information is maintained SECURELY and in the strictest of confidence and is never released, unless it
                is requested to be returned by the customer, to the customer.
              </p>
              <v-divider></v-divider><br>

              <p class="title deep-orange--text">
                What is your return policy?
              </p>
              <p>
                Due to the nature of these products and applicable laws, all sales are final and products are not
                returnable. However, don't fret: we guarantee that your prescription will be dispensed as written by
                your doctor!
              </p>
              <v-divider></v-divider><br>

              <p class="title deep-orange--text">
                What type of payment is accepted?
              </p>
              <p>
                No, United States based insurance plans are not accepted. Some insurance companies in the United States
                will not issue payments directly to entities located outside the United States. However, we can arrange
                to provide you with a proper receipt for filing your insurance claim. Several insurance companies are
                now paying claims on drugs purchased outside the United States. We would recommend checking with your
                insurance provider prior to ordering.
              </p>
              <v-divider></v-divider><br>

              <p class="title deep-orange--text">
                How is my order packaged?
              </p>
              <p>
                The containers used for shipping prescription drugs are protectively wrapped, boxed, and insulated for
                shipping (if necessary).
              </p>
              <v-divider></v-divider><br>

            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
      <v-divider></v-divider><br>
    </section>
  </v-flex>
</template>
<script>
  export default {}
</script>
