<template>
  <v-flex>
    <section>
      <v-parallax src="images/sections/section1.jpg" height="600">
        <v-layout column align-center justify-center class="white--text">
          <img src="images/mini-logo.png" alt="Best Deal Pharma Online Pharmacy" height="81" />
          <h1 class="white--text mb-2 display-1 text-xs-center">Best Deal Pharma</h1>
          <div class="subheading mb-3 text-xs-center">Welcome to your online pharmacy</div>
          <v-btn class="blue lighten-2 mt-5 hidden" dark large to="/new-order">Get Started</v-btn>
          <div
            style="text-rendering: optimizeLegibility;
                  -webkit-font-smoothing: antialiased;
                  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                  caret-color: #fff !important;
                  box-sizing: inherit;
                  background-repeat: no-repeat;
                  padding: 0;
                  margin: 0;
                  position: absolute;
                  left: 0px;
                  top: 0px;
                  bottom: 0;
                  right: 0;
                  color: deeppink;
                  font: 15px Roboto;
                  white-space: nowrap;
                  background-color: #000;
                  opacity: 0.6;
                  z-index: -1;
                  display: flex;
                  align-items: flex-end;"
          ></div>
          <div style="position:absolute; bottom:0px;right:10px;">
            <a href="/new-order" style="text-decoration: none; color: inherit;align-self:end;">
              <img src="/images/20off.png" style="width:580px"/>
            </a>
          </div>
        </v-layout>
      </v-parallax>
    </section>

    <section>
      <v-layout column wrap class="my-5" align-center>
        <v-flex xs12 sm4 class="my-3">
          <div class="text-xs-center">
            <h2 class="headline">Welcome to your one-stop online pharmacy</h2>
            <span class="subheading">Follow these steps to get started</span>
          </div>
        </v-flex>
        <v-flex xs12>
          <v-container grid-list-xl>
            <v-layout row wrap align-center>
              <v-flex xs12 md4>
                <v-card class="elevation-0 transparent">
                  <v-card-text class="text-xs-center">
                    <v-icon x-large class="blue--text text--lighten-2">search</v-icon>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline text-xs-center">1. Find your medication</div>
                  </v-card-title>
                  <v-card-text>
                    Please use the
                    <router-link to="/new-order">search form</router-link>to find your recipe or try to find drug name in alphabetical drug list.
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs12 md4>
                <v-card class="elevation-0 transparent">
                  <v-card-text class="text-xs-center">
                    <v-icon x-large class="blue--text text--lighten-2">shopping_basket</v-icon>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline">2. Create Your Order</div>
                  </v-card-title>
                  <v-card-text>
                    Once you added your medications to your shopping cart, place your order online. A valid prescription
                    is required prior to the dispensing your order. We can call your doctor free of charge.
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs12 md4>
                <v-card class="elevation-0 transparent">
                  <v-card-text class="text-xs-center">
                    <v-icon x-large class="blue--text text--lighten-2">local_shipping</v-icon>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline text-xs-center">3. Receive Your Order</div>
                  </v-card-title>
                  <v-card-text>
                    Delivery time is approximately 2 to 3 weeks. We guarantee that your order will arrive within 30
                    days.
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </section>
    <section>
      <div class="display-2 deep-orange--text mb-3 text-xs-center">Top Selling Products</div>
      <v-parallax src="images/sections/section2.jpg" height="380">
        <v-layout column align-center justify-center pa-4>
          <div
            style="text-rendering: optimizeLegibility;
                  -webkit-font-smoothing: antialiased;
                  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                  caret-color: #fff !important;
                  box-sizing: inherit;
                  background-repeat: no-repeat;
                  padding: 0;
                  margin: 0;
                  position: absolute;
                  left: 0px;
                  top: 0px;
                  bottom: 0;
                  right: 0;
                  color: deeppink;
                  font: 15px Roboto;
                  white-space: nowrap;
                  background-color:#fff;
                  opacity: 0.6;
                  z-index: -1;
                  "
          ></div>
            <vue-word-cloud
              :rotation="1"
              :words="shuffle_keywords"
              :color="([, weight]) => weight > 8 ? 'DeepPink' : weight > 6 ? 'RoyalBlue' : weight > 4 ? 'Green' : 'Indigo'"
              font-family="Roboto"
            >
              <template slot-scope="{text}">
                <div style="cursor: pointer;" class="ma-2" @click="onWordClick(text)">
                  <a
                    style="text-decoration:none; color:inherit;"
                    :title="text"
                    :href="`/product-search/${text}`"
                  >{{ text }}</a>
                </div>
              </template>
            </vue-word-cloud>          
          <v-btn class="blue lighten-2 mt-5" dark large to="/new-order">All Products</v-btn>
        </v-layout>
      </v-parallax>
    </section>

    <section>
      <link rel="canonical" href="https://bestdealpharma.com/#about-us" />
      <v-container grid-list-xl>
        <v-layout row wrap justify-center class="my-5">
          <v-flex xs12 sm4>
            <v-card class="elevation-0 transparent">
              <v-card-title primary-title class="layout justify-center">
                <div class="headline">
                  <a id="about-us"></a> Company info
                </div>
              </v-card-title>
              <v-card-text>
                <p>
                  <b>BestDealPharma</b> is a website created to send you the most reliable prescriptions at the cheapest
                  possible price from
                  countries like India, Turkey, England, Canada, South Africa, and New Zealand. Narcotics or other habit
                  forming
                  medications will not be sent.
                </p>
                <p>
                  <b>BestDealPharma</b> is not a licensed pharmacy; it is a prescription referral service. As a
                  prescription referral
                  service, we are able to refer you to our affiliated pharmacies and/or government approved dispensing
                  facilities to
                  ensure that you receive the highest quality product at the best possible price.
                </p>
                <p>
                  <b>BestDealPharma</b> has been created to network with countries such as India, Turkey, United
                  Kingdom,
                  Australia, and New
                  Zealand to ensure you receive your prescriptions at the best possible price and fastest possible time.
                </p>
              </v-card-text>
            </v-card>
          </v-flex>
          <v-flex xs12 sm4 offset-sm1>
            <v-card class="elevation-0 transparent">
              <v-card-title primary-title class="layout justify-center">
                <div class="headline">
                  <a id="contact-us"></a>Contact us
                </div>
              </v-card-title>
              <contact-form></contact-form>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </section>
  </v-flex>
</template>
<script>
import contactForm from "./Partials/ContactForm";

import VueWordCloud from "vuewordcloud";

export default {
  components: {
    contactForm: contactForm,
    VueWordCloud: VueWordCloud
  },
  computed: {
    shuffle_keywords() {
      return this.shuffle(this.keywords);
    }
  },
  data() {
    return {
      keywords: [
        ["Abilify", 8],
        ["Activella", 8],
        ["ACTIVELLA", 8],
        ["Activelle", 8],
        ["Actos", 8],
        ["ADCIRCA", 8],
        ["Advair", 8],
        ["Albuterol", 8],
        ["Angeliq", 8],
        ["Aricept", 8],
        ["Aripiprazole", 8],
        ["ASACOL", 8],
        ["BECLOMETHASONE", 8],
        ["Biaxin", 4],
        ["BIAXIN", 4],
        ["Budesonide", 4],
        ["Budesonide+Formoterol", 10],
        ["BUPROPION", 10],
        ["Celebrex", 10],
        ["Celecoxib", 10],
        ["Cialis", 10],
        ["CIALIS", 10],
        ["Climara", 10],
        ["Clopidogrel", 6],
        ["COMBIPATCH", 6],
        ["Crestor", 6],
        ["Cyclen", 6],
        ["Cyclosporine", 6],
        ["Cymbalta", 6],
        ["DIANE-35", 6],
        ["Donepezil", 6],
        ["Duloxetine", 6],
        ["Entocort", 6],
        ["ESTALIS", 6],
        ["Estrace", 6],
        ["Estradiol", 4],
        ["Estradot", 4],
        ["Estring", 4],
        ["Estrogel", 4],
        ["Ethinyl", 4],
        ["Evra", 4],
        ["Ezetimibe", 4],
        ["Finasteride", 4],
        ["Flovent", 4],
        ["Fluticasone", 4],
        ["HP-Pac", 10],
        ["Levitra", 10],
        ["Loestrin", 10],
        ["Marvelon", 4],
        ["Medrol", 4],
        ["MESALAMINE", 10],
        ["Mesalamine", 4],
        ["METHYLPREDNISOLONE", 4],
        ["METOLAZONE", 4],
        ["NATAZIA", 4],
        ["Nuvaring", 4],
        ["Olmesartan", 4],
        ["OMNARIS", 4],
        ["Ortho", 4],
        ["Pioglitazone", 4],
        ["Plavix", 4],
        ["Propecia", 4],
        ["Qvar", 4],
        ["Restasis", 4],
        ["Rifaximin", 4],
        ["Rosuvastatin", 4],
        ["Salmeterol", 4],
        ["Seasonale", 4],
        ["Sildenafil", 4],
        ["SITAGLIPTIN", 4],
        ["Spiriva", 4],
        ["Symbicort", 8],
        ["Synthroid", 8],
        ["Tadalafil", 8],
        ["Tiotropium", 6],
        ["TRINTELLIX", 6],
        ["Vagifem", 8],
        ["Vardenafil", 10],
        ["Ventolin", 8],
        ["Viagra", 10],
        ["VIVELLE", 4],
        ["Wellbutrin", 4],
        ["XIFAXAN", 8],
        ["Yasmin", 6],
        ["YAZ", 4],
        ["Zaroxolyn", 4]
      ]
    };
  },
  methods: {
    shuffle: function(array) {
      return array.sort(() => Math.random() - 0.5);
    }
  }
};
</script>
<style>
</style>
