<template>
  <v-flex>
    <link rel="canonical" href="https://bestdealpharma.com/policies" />
    <section>
      <v-parallax src="/images/sections/how-to-order.jpg" height="300">
        <v-layout column
                  align-center
                  justify-center
                  class="blue--text">
          <img src="/images/mini-logo.png" alt="Best Deal Pharma Online Pharmacy" height="81">
          <h1 class="blue--text text--darken-4 mb-2 display-1 text-xs-center">Policies</h1>
          <div class="blue--text text--darken-4 subheading mb-3 text-xs-center">Economical, Safety, Easy</div>
        </v-layout>
      </v-parallax>
    </section>

    <section>
      <v-card class="elevation-0">
        <v-container fluid
                     grid-list-md>
          <v-layout row wrap>
            <v-flex class="xs12">
              <h3 class="headline">Shipping</h3>
              <p style="text-align:justify">
                There is a flat fee per order (not per drug) of only $15.00 to anywhere in the United States with
                regular mail.If you want to receive your package with expedite service fee will be $95. This fee
                includes all packaging costs and preparation of U.S. customs forms, if necessary.. There are no other
                hidden or additional charges that you will be asked to pay during or after your order is processed. No
                additional amount will be deducted from your credit card from our end either.
                The order, once processed successfully, will be sent via regular mail. If the order is destined outside
                of North America, it may take 4 to 6 weeks for delivery.
                If the order takes more than 30 days to reach you, you may request us for a reshipment free of cost (if
                reported within 90 days from time of billing the order). We are committed to complete customer
                satisfaction, and will look into the matter and send you a free replacement. Please ask us for more
                information.
                Please note that there may be delays that cannot be foreseen by us under normal circumstances, and we
                will not be responsible for them. Examples of such delays include problems in your country's Customs
                clearance, shortage in the quantity of the drugs you order, or any delays caused by weather while
                transporting the package. However, we do guarantee that your order will be delivered within 30 business
                days after it has been shipped (if claimed within 90 days from time of ordering). For international
                orders the shipping guarantee is 6 weeks.
                Should you have any doubts or need any extra information on our shipping policy, you may contact us on
                our toll-free customer care number at any time. You may also send us a message through our 'Contact Us'
                page on our website. Our representatives will be happy to help solve your doubts or provide you with the
                information you require.
              </p>

              <h3 class="headline">Security</h3>
              <p style="text-align:justify">
                Our website uses effective security tools to keep your personal and confidential data secure. These
                tools include a 128-bit secure socket layer that encrypts your credit card information and protects you
                from credit card fraud or identity theft. We ensure that your personal information is protected from
                unauthorized disclosure or access, or any kind of dangerous or inappropriate misuse or alteration.
                The security measures we use have been selected according to the sensitivity level of the information
                you provide us. All electronic files that carry information about our clients are stored in a secure
                environment, accessible only by a limited number of authorized personnel. Paper files are also kept in
                restricted access areas for the protection of client privacy.
                Our servers and firewalls are maintained, managed strictly, and appropriately. We also ensure that the
                security policies we follow and enforce are renewed and updated from time to time. This ensures that we
                always follow the latest technology and trends in internet and data security to keep our clients'
                information confidential and secure.
                Through our daily operations, personal information of our clients is only made accessible to the bare
                minimum people who require such information to perform their role within the organization. Even then,
                the level of information that is accessible to such personnel is only limited to the amount that is
                required. No additional information is provided to any personnel, or to any employees or contracted
                parties or third parties. Employees who are offered access are bound by a confidentiality agreement that
                prevents them from disclosing confidential information about their clients to others.
              </p>

              <h3 class="headline">Drug Policy</h3>
              <p style="text-align:justify">
                We follow a strict drug policy while processing orders, especially while dealing with prescription
                drugs. If you wish to order a prescription drug from our website, you must present a valid prescription
                provided by your family physician or any doctor who has been licensed to practice and prescribe
                medications in your locality. We do not process any orders regarding prescription drugs until you
                provide us with a valid prescription. However, you may buy over-the-counter medications without
                presenting a prescription.
                In order to ensure the safety of our clients, we follow a strict policy that prohibits the selling or
                procuring of any
                narcotic or habit-forming drugs. These drugs, which are also called controlled substances or scheduled
                drugs in some countries, must only be bought from a doctor or from an appropriate pharmacy. We do not
                offer or endorse the sale of such dangerous drugs over the internet. Our website specializes in chronic
                care medications that help patients suffering from chronic medical conditions improve their quality of
                life and maintain their health.
                We also support long-term procurement of medications if it is appropriate for your medical condition and
                your doctor's prescription. If your prescription meets our guidelines for long-term orders, you may buy
                medicines for up to 3 months of usage as per your prescription.

              </p>
              <h3 class="headline">Privacy Policy</h3>
              <p style="text-align:justify">
                At BestDealPharma, we are aware of the importance of the sensitivity of your personal data and medical
                data. This is why we have a detailed privacy policy in place to help protect and safeguard your
                information. Our online privacy policy addresses the important issue of personal information safety and
                the collection and usage of this information in our website.
                BestDealPharma collects certain information on our website from clients, including IP address, domain
                name, information about the pages that have been accessed by the client, and information that has been
                provided by the client through feedback forms or account creation forms. We also log the time spent by
                each client on our website. All the information collected by us is stored for various statistical
                reasons.
                The information we collect is used to improve the efficiency of our services and make visits of our
                clients to our website a better experience for them. We analyze the data that we collect in order to
                determine the areas of improvement on our website, and we then formulate a plan and execute it
                accordingly to improve your online experience.
                Our clients can login to their accounts on our website and view our products, but they may not see their
                information at present. This information is stored in such a way that we can match your medical history
                automatically to provide you with a choice of preferred prescription drugs. Information related to our
                clients is currently stored in our databases, which are connected to the internet through a 128-bit
                secure connection and other security measures in order to maintain security. Access to this database is
                also limited to only our authorized personnel.
                The client information stated above is not used for any reason other than those mentioned above. No
                other attempt is made by us to identify our clients and their specific browsing activities unless we are
                required to do so as part of an investigation conducted by an appropriate law enforcement agency with a
                specific warrant. Such agencies may exercise warrants to search logs or other data maintained by us, and
                we may cooperate with these agencies to collect and present relevant information as part of our
                obligation under statutory international and local laws.
                We make sure that we use and disclose as little of your information as possible. We shall do so only if
                we deem it a necessary step for protecting intellectual property or any copyright material on our
                website, or for enforcing the Terms and Conditions we state.
                We do not share any information that can be used to identify our clients personally, other than in the
                conditions mentioned above, with any party that is not directly or indirectly associated with
                BestDealPharma

              </p>
              <h3 class="headline">Liability</h3>
              <p style="text-align:justify">
                If you aren't satisfied with any element of BestDealPharma your sole remedy is to discontinue using
                BestDealPharma and its services. This web site BestDealPharma.com, the Content found herein, and any and
                all services or products promoted via the web site are provided on an "as is" basis. The use of the web
                site, the Content, and any product or service promoted via the web site is to be used only at your own
                risk. BestDealPharma assumes absolutely no liability for any delay, failure, interruption or corruption
                of any data or other information transmitted in connection with the use of the web site.
                BestDealPharma hereby does not make any representations or warranties that: (a) the services, Content,
                software, text, images, links or communications provided directly or indirectly through this web site by
                BestDealPharma or any third party, are accurate, reliable, complete, timely or error-free; (b) the files
                available for download directly or indirectly via this web site will be free of infection by viruses,
                worms, Trojan horses or other code that may contain contaminating or destructive properties; (c) the
                results that you may obtain as a result of the use of the Services or Content will be reliable; (d) the
                quality or effectiveness of any products and/or services of any third party that is mentioned, marketed,
                obtained, or purchased directly or indirectly through the Site, its Services or Content will be of your
                expectations; or (e) any errors in the Services or Content will be corrected in a timely manner.
                BestDealPharma is not liable for any personal injury, including but not limited to death, caused by your
                use or misuse of the Site or Content or by any products you purchase from a third party. In no event
                shall BestDealPharma or any third parties be liable for any damages (including, without limitation,
                incidental and consequential damages, personal injury/wrongful death, lost profits, or damages resulting
                from lost data or business interruption) resulting from the use or inability to use the web site or the
                Content whether based on warranty, contract, tort or any other legal theory, and whether or not
                BestDealPharma is advised of the possibility of such damages. Any liability of BestDealPharma shall be
                limited to the actual damages incurred by you, not to exceed U.S. $500.
                The above exclusions may not apply in jurisdictions that do not allow the exclusion of certain
                warranties. Any claims arising in connection with your use of this web site or any Content must be
                brought within one (1) year of the date of the event giving rise to such action occurred. Remedies under
                these Terms of Use are exclusive and are limited to those expressly provided for in these Terms of Use.

              </p>
              <h3 class="headline">Web Use Policy</h3>
              <p style="text-align:justify">
                Please note that BestDealPharma does not provide any kind of medical advice, nor does it claim to do so
                directly or indirectly in any part of its website or as a part of its services.
                The contents provided on this website, including the written text, images, graphics, and certain
                information provided by the licensors of BestDealPharma and any other material that comes under the
                meaning of 'Content' for this website, is solely for informational purposes. The FDA has not evaluated
                any Content on this website, and nor has any other equivalent agency in any other country. The Content
                provided on this website is not intended to be a substitute for the medical diagnosis, treatment, or
                advice provided by an appropriately qualified and licensed doctor. For your own best interests, we
                strongly advice you to seek the professional medical advice of your doctor or any other qualified
                medical provider before you use our website.
                If you have any questions regarding your medical condition or general health, you must consult your
                doctor before you buy medicines from any other website, your local pharmacist, or us. You must also
                consult your doctor before you begin any kind of exercise or diet program mentioned or described on this
                website.
                BestDealPharma does not recommend or promote self-management of any medical condition. If you choose to
                rely on the information provided on this website, you must be aware that you do so at your own risk
                only. The information provided on this website or obtained through this website is not comprehensive,
                and it does not cover every medical condition and its respective treatment. The information provided on
                this website has been compiled from several different sources. All parties associated with
                BestDealPharma - including its independent contractors, agents, suppliers, licensors, and employees,
                officers, and directors- do not practice medicine or provide any medical service as part of
                BestDealPharma. If you have any health-related queries, you must clear them with your own doctor
                promptly.
                Do not disregard any advice provided by your doctor or delay in following a treatment recommended by
                your doctor because of any information you may have attained from this website. If you feel that you are
                suffering from some kind of medical emergency, you must notify your doctor and seek immediate medical
                help.
                Our website provides information on human reproduction and related health and medical issues that you
                may find offensive or sexually explicit. Such material may not be suitable for sensitive readers or
                children, and it is the responsibility of the reader or the guardian or parent of the reader to comply
                with the applicable laws in such cases.

              </p>

            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
      <v-divider></v-divider>
    </section>
  </v-flex>
</template>
<script>
  export default {}
</script>
