<template>
  <v-flex>
    <link rel="canonical" href="https://bestdealpharma.com/#contact-us" />
    <v-form ref="form">
      <v-text-field ref="email"
                    v-model="contactForm.email"
                    :rules="[rules.required, rules.email]"
                    label="E-mail"></v-text-field>
      <v-text-field ref="name"
                    v-model="contactForm.name"
                    :rules="[() => !!contactForm.name || 'This field is required']"
                    label="Name"
                    required></v-text-field>
      <v-text-field ref="surname"
                    v-model="contactForm.surname"
                    :rules="[() => !!contactForm.surname || 'This field is required']"
                    label="Lastname"
                    required></v-text-field>
      <v-text-field ref="phone"
                    v-model="contactForm.phone"
                    label="Phone"></v-text-field>
      <v-text-field ref="title"
                    v-model="contactForm.title"
                    :rules="[() => !!contactForm.title || 'This field is required']"
                    label="Title"
                    required></v-text-field>
      <v-text-field ref="message"
                    v-model="contactForm.message"
                    :rules="[() => !!contactForm.message || 'This field is required']"
                    label="Message"
                    required></v-text-field>
      <v-btn color="primary" @click="sendMessage">Send</v-btn>
      <h3 class="deep-orange--text display-1" v-if="showError">{{errorMessages}}</h3>
    </v-form>
  </v-flex>
</template>

<script>
  export default {
    data: () => ({
      errorMessages: '',
      showError: false,
      contactForm: {
        email: '',
        name: '',
        surname: '',
        phone: '',
        title: '',
        message: ''
      },
      rules: {
        required: value => !!value || 'This field is required.',
        min: v => v && v.length >= 6 || 'Min 6 characters',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || 'E-mail must be valid.'
        }
      },
    }),
    methods: {
      sendMessage: function () {
        this.errorMessages = '';
        this.showError = false;
        if (this.$refs.form.validate()) {
          window.fbq('track', 'contactSubmit')
          this.axios.post('/api/members/sendContactForm', JSON.stringify(this.contactForm), {
            headers: {
              'Content-Type': 'application/json'
            }
          }).then(response => {
            this.errorMessages = 'Your message has been sent.';
            this.showError = true;
          }
          )
        }
      }
    }
  }
</script>

<style scoped>
</style>
