<template>
  <v-flex>
    <v-card class="elevation-0">
      <v-card-title>
        <div class="headline">
          <v-icon large>perm_identity</v-icon>Information
        </div>
      </v-card-title>
      <v-divider></v-divider>
      <v-flex class="xs12 sm12 md6 pa-3">
        <v-form lazy-validation v-model="formIsValid" ref="changePersonelInformationForm">
          <v-flex v-if="authenticatedUser">
            <v-layout align-start justify-start row>
              <v-flex class="deep-orange--text darken-3 headline">E-mail:</v-flex>
              <v-flex class="title text-xs-right">
                {{ authenticatedUser.user.email }}
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn fab small color="red" dark v-on="on" @click="changeEmailDialog=true">
                      <v-icon dark>create</v-icon>
                    </v-btn>
                  </template>
                  <span>Change email address</span>
                </v-tooltip>
                <v-tooltip bottom v-if="1!=1">
                  <template v-slot:activator="{ on }">
                    <v-btn
                      fab
                      small
                      color="success"
                      dark
                      v-on="on"
                      @click="sendEmailConfirmationDialog=true"
                    >
                      <v-icon dark>send</v-icon>
                    </v-btn>
                  </template>
                  <span>Send email activation code</span>
                </v-tooltip>
              </v-flex>
            </v-layout>

            <v-text-field
              ref="name"
              v-model="authenticatedUser.person.name"
              :rules="[() => !!authenticatedUser.person.name || 'This field is required']"
              label="Name"
              required
            ></v-text-field>
            <v-text-field
              ref="surname"
              v-model="authenticatedUser.person.surname"
              :rules="[() => !!authenticatedUser.person.surname || 'This field is required']"
              label="Lastname"
              required
            ></v-text-field>
            <v-menu
              :close-on-content-click="false"
              v-model="birthdatepicker"
              :nudge-right="40"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              max-width="290px"
              min-width="290px"
              ref="birthdatepickermenu"
            >
              <v-text-field
                ref="birthdate"
                slot="activator"
                v-model="authenticatedUser.person.birthDate"
                label="Date Of Birth"
                readonly
                :rules="[() => !!authenticatedUser.person.birthDate || 'This field is required']"
              ></v-text-field>
              <v-date-picker
                v-model="authenticatedUser.person.birthDate"
                :max="new Date().toISOString().substr(0, 10)"
                min="1935-01-01"
                ref="birthdatepicker"
              ></v-date-picker>
            </v-menu>
            <v-text-field
              ref="mobilephone"
              v-model="authenticatedUser.person.mobilePhone"
              :rules="[() => !!authenticatedUser.person.mobilePhone || 'This field is required']"
              label="Mobile Phone"
              required
            ></v-text-field>
            <v-text-field
              ref="homephone"
              v-model="authenticatedUser.person.homePhone"
              label="Home Phone"
              hint="Optional"
            ></v-text-field>
            <v-text-field
              ref="address"
              :rules="[()=>!!authenticatedUser.person.address || 'This field is required']"
              v-model="authenticatedUser.person.address"
              label="Address Line"
              required
            ></v-text-field>
            <v-text-field
              ref="city"
              :rules="[() => !!authenticatedUser.person.city || 'This field is required']"
              v-model="authenticatedUser.person.city"
              label="City"
              required
            ></v-text-field>
            <v-text-field
              ref="state"
              v-model="authenticatedUser.person.state"
              :rules="[() => !!authenticatedUser.person.state || 'This field is required']"
              label="State/Province/Region"
              required
            ></v-text-field>
            <v-text-field
              ref="zipcode"
              :rules="[() => !!authenticatedUser.person.zipCode || 'This field is required']"
              v-model="authenticatedUser.person.zipCode"
              label="ZIP / Postal Code"
              required
            ></v-text-field>
            <v-autocomplete
              ref="country"
              :rules="[() => !!authenticatedUser.person.country || 'This field is required']"
              :items="countries"
              v-model="authenticatedUser.person.country"
              label="Country"
              placeholder="Select..."
              required
            ></v-autocomplete>
          </v-flex>
        </v-form>
      </v-flex>
      <v-card-actions>
        <v-btn color="success" @click="savePersonelInformationForm">Save</v-btn>
      </v-card-actions>
    </v-card>
    <v-card class="elevation-0">
      <v-card-title>
        <div class="headline">
          <v-icon large>lock</v-icon>Change Password
        </div>
      </v-card-title>
      <v-divider></v-divider>

      <v-flex class="xs12 sm12 md6 pa-3">
        <v-form lazy-validation v-model="formIsValid" ref="changePasswordForm">
          <v-text-field
            ref="currentPassword"
            v-model="model.currentPassword"
            :append-icon="showpwd1 ? 'visibility_off' : 'visibility'"
            :rules="[rules.required, rules.min]"
            :type="showpwd1 ? 'text' : 'password'"
            label="Current Password"
            hint="At least 6 characters"
            counter
            @click:append="showpwd1 = !showpwd1"
          ></v-text-field>
          <v-text-field
            ref="newPassword"
            v-model="model.newPassword"
            :append-icon="showpwd2 ? 'visibility_off' : 'visibility'"
            :rules="[rules.required, rules.min]"
            :type="showpwd2 ? 'text' : 'password'"
            label="New Password"
            hint="At least 6 characters"
            counter
            @click:append="showpwd2 = !showpwd2"
          ></v-text-field>
          <v-text-field
            ref="confirmpassword"
            v-model="model.confirmPassword"
            :append-icon="showpwd3 ? 'visibility_off' : 'visibility'"
            :rules="[rules.required, (v) => v == this.model.newPassword || 'The passwords you entered don\'t match']"
            :type="showpwd3 ? 'text' : 'password'"
            label="Confirm New Password"
            counter
            @click:append="showpwd3 = !showpwd3"
          ></v-text-field>
          <v-btn class="primary" @click="changePassword">Change Password</v-btn>
        </v-form>
        <v-list
          color="error transparent"
          v-model="showChangePasswordError"
          transition="scale-transition"
        >
          <v-list-tile v-for="err in errorMessages" :key="err.name">
            <v-list-tile-action>
              <v-icon color="error">error</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title v-text="err.description" class="deep-orange--text"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-flex>
    </v-card>
    <v-dialog v-model="changeEmailDialog" persistent max-width="390">
      <v-card>
        <v-card-title class="headline">Change email address?</v-card-title>
        <v-card-text>
          <v-form lazy-validation ref="changeEmailForm">
            <v-text-field
              ref="email"
              v-model="newEmail"
              :rules="[rules.required, rules.email]"
              label="E-mail"
            ></v-text-field>
            <v-text-field
              ref="confirmEmail"
              v-model="confirmEmail"
              :rules="[rules.required, rules.email, (v) => v == newEmail || 'The email addresses you entered don\'t match']"
              label="Confirm E-mail"
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-text>Your email address have not been changed yet. Please check your inbox and click the link that was sent email.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat @click="changeEmailDialog = false">Disagree</v-btn>
          <v-btn color="green darken-1" flat @click="changeEmailAddresses">Agree</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="sendEmailConfirmationDialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">Email activation code has been sent!</v-card-title>
        <v-card-text>Your email address have not been confirmed yet. Please activate your account by link that was sent email. Your account has been blocked until activation.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat @click="sendEmailConfirmationDialog = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-flex>
</template>

<script>
import { mapGetters } from "vuex";
import moment from "moment";
export default {
  computed: {
    ...mapGetters("user", [
      "getAuthenticatedUserName",
      "isAuthenticated",
      "authenticatedUser"
    ])
  },
  data: () => ({
    countries: [
      "Afghanistan",
      "Albania",
      "Algeria",
      "Andorra",
      "Angola",
      "Anguilla",
      "Antigua &amp; Barbuda",
      "Argentina",
      "Armenia",
      "Aruba",
      "Australia",
      "Austria",
      "Azerbaijan",
      "Bahamas",
      "Bahrain",
      "Bangladesh",
      "Barbados",
      "Belarus",
      "Belgium",
      "Belize",
      "Benin",
      "Bermuda",
      "Bhutan",
      "Bolivia",
      "Bosnia &amp; Herzegovina",
      "Botswana",
      "Brazil",
      "British Virgin Islands",
      "Brunei",
      "Bulgaria",
      "Burkina Faso",
      "Burundi",
      "Cambodia",
      "Cameroon",
      "Cape Verde",
      "Cayman Islands",
      "Chad",
      "Chile",
      "China",
      "Colombia",
      "Congo",
      "Cook Islands",
      "Costa Rica",
      "Cote D Ivoire",
      "Croatia",
      "Cruise Ship",
      "Cuba",
      "Cyprus",
      "Czech Republic",
      "Denmark",
      "Djibouti",
      "Dominica",
      "Dominican Republic",
      "Ecuador",
      "Egypt",
      "El Salvador",
      "Equatorial Guinea",
      "Estonia",
      "Ethiopia",
      "Falkland Islands",
      "Faroe Islands",
      "Fiji",
      "Finland",
      "France",
      "French Polynesia",
      "French West Indies",
      "Gabon",
      "Gambia",
      "Georgia",
      "Germany",
      "Ghana",
      "Gibraltar",
      "Greece",
      "Greenland",
      "Grenada",
      "Guam",
      "Guatemala",
      "Guernsey",
      "Guinea",
      "Guinea Bissau",
      "Guyana",
      "Haiti",
      "Honduras",
      "Hong Kong",
      "Hungary",
      "Iceland",
      "India",
      "Indonesia",
      "Iran",
      "Iraq",
      "Ireland",
      "Isle of Man",
      "Israel",
      "Italy",
      "Jamaica",
      "Japan",
      "Jersey",
      "Jordan",
      "Kazakhstan",
      "Kenya",
      "Kuwait",
      "Kyrgyz Republic",
      "Laos",
      "Latvia",
      "Lebanon",
      "Lesotho",
      "Liberia",
      "Libya",
      "Liechtenstein",
      "Lithuania",
      "Luxembourg",
      "Macau",
      "Macedonia",
      "Madagascar",
      "Malawi",
      "Malaysia",
      "Maldives",
      "Mali",
      "Malta",
      "Mauritania",
      "Mauritius",
      "Mexico",
      "Moldova",
      "Monaco",
      "Mongolia",
      "Montenegro",
      "Montserrat",
      "Morocco",
      "Mozambique",
      "Namibia",
      "Nepal",
      "Netherlands",
      "Netherlands Antilles",
      "New Caledonia",
      "New Zealand",
      "Nicaragua",
      "Niger",
      "Nigeria",
      "Norway",
      "Oman",
      "Pakistan",
      "Palestine",
      "Panama",
      "Papua New Guinea",
      "Paraguay",
      "Peru",
      "Philippines",
      "Poland",
      "Portugal",
      "Puerto Rico",
      "Qatar",
      "Reunion",
      "Romania",
      "Russia",
      "Rwanda",
      "Saint Pierre &amp; Miquelon",
      "Samoa",
      "San Marino",
      "Satellite",
      "Saudi Arabia",
      "Senegal",
      "Serbia",
      "Seychelles",
      "Sierra Leone",
      "Singapore",
      "Slovakia",
      "Slovenia",
      "South Africa",
      "South Korea",
      "Spain",
      "Sri Lanka",
      "St Kitts &amp; Nevis",
      "St Lucia",
      "St Vincent",
      "St. Lucia",
      "Sudan",
      "Suriname",
      "Swaziland",
      "Sweden",
      "Switzerland",
      "Syria",
      "Taiwan",
      "Tajikistan",
      "Tanzania",
      "Thailand",
      "Timor L'Este",
      "Togo",
      "Tonga",
      "Trinidad &amp; Tobago",
      "Tunisia",
      "Turkey",
      "Turkmenistan",
      "Turks &amp; Caicos",
      "Uganda",
      "Ukraine",
      "United Arab Emirates",
      "United Kingdom",
      "United States",
      "Uruguay",
      "Uzbekistan",
      "Venezuela",
      "Vietnam",
      "Virgin Islands (US)",
      "Yemen",
      "Zambia",
      "Zimbabwe"
    ],
    sendEmailConfirmationDialog: false,
    changeEmailDialog: false,
    showChangePasswordError: false,
    confirmEmail: null,
    newEmail: null,
    errorMessages: [],
    formIsValid: false,
    birthdatepicker: false,
    model: {
      currentPassword: null,
      newPassword: null,
      confirmPassword: null,
      token: null
    },
    showpwd1: false,
    showpwd2: false,
    showpwd3: false,

    rules: {
      required: value => !!value || "This field is required.",
      min: v => (v && v.length >= 6) || "Min 6 characters",
      passwordMatch: v =>
        v == this.password || "The passwords you entered don't match",
      email: value => {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return pattern.test(value) || "E-mail must be valid.";
      }
    }
  }),
  watch: {
    birthdatepicker(val) {
      val &&
        this.$nextTick(
          () => (this.$refs.birthdatepicker.activePicker = "YEAR")
        );
    },
    "authenticatedUser.person.birthDate"(val) {
      if (val) {
        this.authenticatedUser.person.birthDate = moment(val).format(
          "YYYY-MM-DD"
        );
      }
    }
  },
  methods: {
    changePassword: function() {
      if (this.$refs.changePasswordForm.validate()) {
        this.$store
          .dispatch("user/changePassword", this.model)
          .then(res => {
            this.$toastr("success", "Your password has been changed!");
          })
          .catch(err => {
            if (err.response.data) {
              this.$toastr("error", err.response.data[0].description);
            } else {
              this.$toastr(
                "error",
                "An error occurred! Please try again later."
              );
            }
          });
      }
    },
    savePersonelInformationForm: function() {
      if (this.$refs.changePersonelInformationForm.validate()) {
        this.$store
          .dispatch("members/onSave", this.authenticatedUser)
          .then(res => {
            this.$toastr(
              "success",
              "Your personal informations has been updated!"
            );
          })
          .catch(err => {
            if (err.response.data) {
              this.$toastr("error", err.response.data);
            } else {
              this.$toastr(
                "error",
                "An error occurred! Please try again later."
              );
            }
          });
      }
    },
    changeEmailAddresses: function() {
      if (this.$refs.changeEmailForm.validate()) {
        this.$store
          .dispatch("user/sendChangingEmailAddress", {
            newEmail: this.newEmail,
            oldEmail: this.authenticatedUser.user.email
          })
          .then(res => {
            this.changeEmailDialog = false;
            this.$toastr(
              "success",
              "Your email address has been changed! Please check your inbox!"
            );
          })
          .catch(err => {
            if (err.response.data) {
              this.$toastr("error", err.response.data);
            } else {
              this.$toastr(
                "error",
                "An error occurred! Please try again later."
              );
            }
          });
      }
    }
  }
};
</script>

<style scoped>
</style>
