<template>
  <v-container grid-list-md fluid>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-flex>
            <v-toolbar flat color="white">
              <v-select dense :items="orderStatuses" v-model="status" hint="Please select order Status!"
                persistent-hint>
              </v-select>
              <v-menu ref="menu" v-model="dateMenu" :close-on-content-click="false" :nudge-right="40"
                :return-value.sync="dates" lazy transition="scale-transition" offset-y full-width min-width="290px">
                <template v-slot:activator="{ on }">
                  <v-combobox v-model="dates" multiple chips small-chips label="Select multiple or single date"
                    prepend-icon="event" readonly v-on="on"></v-combobox>
                </template>
                <v-date-picker v-model="dates" multiple no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                  <v-btn flat color="primary" @click="$refs.menu.save(dates)">OK</v-btn>
                </v-date-picker>
              </v-menu>
              <v-btn color="success" @click="searchOrder">Search</v-btn>
              <json-excel :data="orders" :fields="excel_fields" worksheet="BestDealPharma.com Order List"
                class="v-btn primary" name="BestDealPharma-Order-List.xls" v-if="orders.length>0">
                XLS
              </json-excel>
              <v-btn color="info" @click="exportPdf" v-if="orders.length>0">PDF</v-btn>
            </v-toolbar>
            <v-data-table :headers="headers" :items="orders" class="elevation-0" hide-actions>
              <template v-slot:no-data>
                <v-alert :value="true" color="error" icon="warning">
                  Sorry, nothing to display here
                </v-alert>
              </template>
              <template slot="items" slot-scope="props">
                <tr>
                  <td>{{ props.item.orderDate | formatdate}}</td>
                  <td>{{ props.item.orderNumber }}</td>
                  <td>{{props.item.person.name}} {{props.item.person.surname}}</td>
                  <td>{{ props.item.shippingDate | formatdate }}</td>
                  <td>{{ props.item.subTotal | currency }}</td>
                  <td>{{ props.item.shipping | currency }}</td>
                  <td>{{ props.item.total * 0.039 | currency }}</td>
                  <td>{{ props.item.total | currency }}</td>
                  <td>{{ props.item.total  - (props.item.total * 0.039) | currency }}</td>
                </tr>
              </template>
              <v-alert slot="no-results" :value="true" color="error" icon="warning">There is no result.
              </v-alert>
            </v-data-table>
          </v-flex>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import JsonExcel from 'vue-json-excel'
  import jsPDF from "jspdf"
  import moment from "moment"
  import { mapGetters, mapState } from 'vuex'
  export default {
    components: {
      JsonExcel,
    },
    data() {
      return {
        status: 0,
        dates: [],
        dateMenu: false,
        orderStatuses: [
          { value: 0, text: 'Awaiting Payment' },
          { value: 1, text: 'Preparing' },
          { value: 2, text: 'Shipped' },
          { value: 3, text: 'Canceled' }
        ],
        headers: [
          { id: "order_date", text: "Order Date", sortable: false },
          { id: "order_number", text: "Order Number", sortable: false },
          { id: "customer_name", text: "Customer Name", sortable: false },
          { id: "shipping_date", text: "Shipping Date", sortable: false },
          { id: "order_amount", text: "Order Amount", sortable: false },
          { id: "shipping_cost", text: "Shipping Cost", sortable: false },
          { id: "comission", text: "Commission (3.9%)", sortable: false },
          { id: "order_total", text: "Order Total", sortable: false },
          { id: "net_sales", text: "Net Sales", sortable: false }
        ],
        orders: [],
        excel_fields: {
          'Order Date': {
            field: 'orderDate',
            callback: (value) => {
              return moment(value).format('L')
            }
          },
          'Order Number': {
            field: 'orderNumber',
            callback: (value) => {
              return `#${value}`
            }
          },
          'Customer Name': {
            field: 'person',
            callback: (value) => {
              return `${value.name} ${value.surname}`
            }
          },
          'Shipping Date': {
            field: 'shippingDate',
            callback: (value) => {
              if (value) {
                return moment(value).format('L')
              } else {
                return ''
              }
            }
          },
          'Order Amount': {
            field: 'subTotal',
            callback: (value) => {
              return this.formatCurrency(value)
            }
          },
          'Shipping Cost': {
            field: 'shipping',
            callback: (value) => {
              return this.formatCurrency(value)
            }
          },
          'Commission (3.9%)': {
            field: 'total',
            callback: (value) => {
              return this.formatCurrency(value * 0.039)
            }
          },
          'Order Total': {
            field: 'total',
            callback: (value) => {
              return this.formatCurrency(value)
            }
          },
          'Net Sales': {
            field: 'total',
            callback: (value) => {
              return this.formatCurrency(value - (value * 0.039))
            }
          }
        }
      }
    },
    methods: {
      searchOrder: function () {
        this.$store.dispatch('orders/getAllForAdmin', { status: this.status, dates: this.dates })
          .then(response => this.orders = response.data)
          .catch(error => this.$toastr('error', error))
      },
      formatCurrency: function (value) {
        let val = (value / 1).toFixed(2).replace(',', '.')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
      },
      exportPdf: function () {
        const pdfHeaders = Object.keys(this.excel_fields).map(x => {
          return {
            'id': x,
            'name': x,
            'prompt': x,
            'align': 'center',
            'padding': 0
          }
        })
        const fields = Object.keys(this.excel_fields)

        const datas = []
        this.orders.forEach(x => {
          let item = {}
          fields.forEach(f => {
            const field = this.excel_fields[f];
            item[f] = field["callback"](x[field["field"]])
          })
          datas.push(item)
        })

        const doc = new jsPDF({ putOnlyUsedFonts: true, orientation: 'landscape', unit: 'px',format:'a3', compress:true });
        doc.table(1, 1, datas, pdfHeaders, { autoSize: true, printHeaders: true, padding: 1 });
        doc.save('BestDealPharma-Order-List.pdf')
      }
    }
  }
</script>

<style>

</style>
