<template>
  <div id="page-orders">
    <v-container grid-list-md fluid>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card>
            <v-flex>
              <v-toolbar flat color="white">
                <v-select
                  dense
                  :items="orderStatuses"
                  v-model="status"
                  hint="Please select order Status!"
                  persistent-hint
                ></v-select>
                <v-menu
                  ref="menu"
                  v-model="dateMenu1"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  :return-value.sync="startDate"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="200px"
                >
                  <template v-slot:activator="{ on }">
                    <v-combobox
                      v-model="startDate"
                      chips
                      small-chips
                      label="Begin Date"
                      prepend-icon="event"
                      readonly
                      v-on="on"
                    ></v-combobox>
                  </template>
                  <v-date-picker v-model="startDate" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                    <v-btn flat color="primary" @click="$refs.menu.save(startDate)">OK</v-btn>
                  </v-date-picker>
                </v-menu>
                <v-menu
                  ref="menu1"
                  v-model="dateMenu2"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  :return-value.sync="endDate"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="200px"
                >
                  <template v-slot:activator="{ on }">
                    <v-combobox
                      v-model="endDate"
                      chips
                      small-chips
                      label="End date"
                      prepend-icon="event"
                      readonly
                      v-on="on"
                    ></v-combobox>
                  </template>
                  <v-date-picker v-model="endDate" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="menu1 = false">Cancel</v-btn>
                    <v-btn flat color="primary" @click="$refs.menu1.save(endDate)">OK</v-btn>
                  </v-date-picker>
                </v-menu>
                <v-btn color="success" @click="searchOrder({ status: status, dates: dates })">Search</v-btn>
              </v-toolbar>
              <v-data-table
                :headers="headers"
                :items="orders"
                hide-actions
                class="elevation-0"
                v-if="orders.length>0"
              >
                <template slot="items" slot-scope="props">
                  <tr
                    :active="selected && selected.id == props.item.id"
                    @click="selectItem(props.item)"
                  >
                    <td>{{ props.item.orderDate | formatdate}}</td>
                    <td>{{ props.item.orderNumber }}</td>
                    <td>{{ props.item.person.user.email }}</td>
                    <td>{{ `${props.item.person.name} ${props.item.person.surname}` }}</td>
                    <td>{{ props.item.total | currency }}</td>
                    <td>{{ props.item.city}}</td>
                    <td>{{ props.item.country}}</td>
                    <td>{{props.item.status | formatStatus}}</td>
                    <td>
                      <a :href="props.item.prescription.fileName" target="_new">Rx</a>
                    </td>
                  </tr>
                </template>
                <v-alert
                  slot="no-results"
                  :value="true"
                  color="error"
                  icon="warning"
                >There is no results.</v-alert>
              </v-data-table>
            </v-flex>
          </v-card>
        </v-flex>
        <v-flex xs12 id="detail">
          <v-alert :value="!selected" type="warning" icon="keyboard_backspace">
            <b>Please select an item</b>
          </v-alert>
          <v-card v-if="selected">
            <v-toolbar flat>
              <v-btn color="primary" @click="onSave">
                Save
                <v-icon right dark>save</v-icon>
              </v-btn>
            </v-toolbar>
            <v-divider></v-divider>
            <v-layout row wrap v-if="selected">
              <v-flex xs12 py-2 pr-2>
                <v-card class="elevation-0">
                  <v-select
                    dense
                    :items="orderStatuses"
                    v-model="selected.status"
                    class="mr-2 ml-2"
                    label="Change Order Status!"
                    persistent-hint
                  ></v-select>
                  <v-textarea
                    class="ml-2 mr-2"
                    v-model="selected.shippingLink"
                    label="Shipping Trace Link"
                    v-if="selected.status==2"
                  ></v-textarea>
                  <v-textarea
                    class="ml-2 mr-2"
                    v-model="selected.serviceExplanation"
                    label="Explanation"
                  ></v-textarea>
                  <v-textarea
                    class="ml-2 mr-2"
                    v-model="selected.customerExplanation"
                    disabled
                    label="Order Explanation"
                  ></v-textarea>
                  <v-data-table :items="selected.orderDetails" hide-actions class="elevation-0">
                    <template slot="headers" slot-scope="props">
                      <th class="text-xs-left">Drug Name</th>
                      <th>Quantity</th>
                      <th>Strength</th>
                      <th>Amount</th>
                      <th class="text-xs-right">Price</th>
                    </template>
                    <template slot="items" slot-scope="props">
                      <td class="text-xs-left">{{ props.item.title }}</td>
                      <td class="text-xs-center">{{ props.item.quantity }}</td>
                      <td class="text-xs-center">{{ props.item.strength }}</td>
                      <td class="text-xs-center no-wrap">{{ props.item.amount }}</td>
                      <td class="text-xs-right">{{props.item.price*props.item.amount | currency}}</td>
                    </template>
                  </v-data-table>
                </v-card>
              </v-flex>
              <v-flex xs12 py-2>
                <v-card class="elevation-0">
                  <v-container fluid grid-list-md>
                    <v-layout row wrap>
                      <v-flex xs12 md6>
                        <v-layout row wrap>
                          <v-flex xs4 text-xs-right>
                            <h3>Sub Total:</h3>
                          </v-flex>
                          <v-flex xs8>
                            <h3>{{calculateSubTotal(selected.orderDetails) | currency}}</h3>
                          </v-flex>
                          <v-flex xs4 text-xs-right>
                            <h3>Shipping:</h3>
                          </v-flex>
                          <v-flex xs8>
                            <h3>{{selected.shipping | currency}}</h3>
                          </v-flex>
                          <v-flex xs4 text-xs-right>
                            <h2>Total:</h2>
                          </v-flex>
                          <v-flex xs8>
                            <h2 class="deep-orange--text">
                              {{calculateSubTotal(selected.orderDetails) + selected.shipping
                              | currency}}
                            </h2>
                          </v-flex>
                        </v-layout>
                      </v-flex>
                      <v-flex xs12 md6>
                        <v-list>
                          <v-list-tile>
                            <h3>{{selected.person.name}} {{selected.person.surname}}</h3>
                          </v-list-tile>
                        </v-list>
                        <v-list>
                          <v-list-tile>
                            {{selected.addressLine}}
                            <br />
                            {{selected.city}}
                            <br />
                            {{selected.state}}
                            <br />
                            {{selected.zipCode}}
                            <br />
                            {{selected.country}}
                          </v-list-tile>
                        </v-list>
                        <v-list>
                          <v-list-tile>{{selected.mobilePhone}}</v-list-tile>
                        </v-list>
                        <v-list>
                          <v-list-tile>{{selected.person.user.email}}</v-list-tile>
                        </v-list>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import moment from "moment";
export default {
  components: {},

  data() {
    return {
      selected: null,
      status: 0,
      startDate: moment()
        .add(-1, "months")
        .format("YYYY-MM-DD"),
      endDate: moment().format("YYYY-MM-DD"),
      dates: [
        moment()
          .add(-1, "months")
          .format("YYYY-MM-DD"),
        moment().format("YYYY-MM-DD")
      ],
      dateMenu1: false,
      dateMenu2: false,
      orderStatuses: [
        { value: 0, text: "Awaiting Payment" },
        { value: 1, text: "Preparing" },
        { value: 2, text: "Shipped" },
        { value: 3, text: "Canceled" }
      ],
      headers: [
        { text: "Order Date", sortable: true, value: "orderDate" },
        { text: "Order Number", sortable: true, value: "orderNumber" },
        { text: "Email", sortable: true, value: "email" },
        { text: "Full Name", sortable: true, value: "name" },
        { text: "Total", sortable: true, value: "total" },
        { text: "City", sortable: true, value: "city" },
        { text: "Country", sortable: true, value: "country" },
        { text: "Status", sortable: false, value: "status" },
        { text: "Download", sortable: false, value: "download" }
      ],
      orders: []
    };
  },
  watch: {
    startDate: function(v) {
      this.dates[0] = v;
    },
    endDate: function(v) {
      this.dates[1] = v;
    }
  },
  methods: {
    calculateSubTotal: function(cart) {
      return _.sumBy(cart, function(i) {
        return i.price * i.amount;
      });
    },
    onSave: function() {
      this.$store.dispatch("orders/onSave", this.selected);
    },
    searchOrder: function(params) {
      this.$store
        .dispatch("orders/getAllForAdmin", params)
        .then(response => (this.orders = response.data))
        .catch(error => this.$toastr("error", error));
    },
    selectItem: function(item) {
      this.selected = item;
      window.location.href = "#detail";
    }
  }
};
</script>

<style>
</style>
